<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-content">
            <h2>AfricaBytes</h2>
            <p>une initiative pour démocratiser l'accès aux compétences <br>
                numériques tout en célébrant la richesse culturelle africaine.</p>
        </div>
        <div class="footer-btn">
            <a href="#contact">Contactez-nous !</a>
        </div>
    </div>
    <div class="social-icons">
        <p>Africabytes - 2025</p>
        <a href="#"><img src="/assets/picture/facebook.png" alt="Facebook"></a>
        <a href="#"><img src="/assets/picture/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="/assets/picture/twitter.png" alt="Twitter"></a>
        <a href="#"><img src="/assets/picture/youtube.png" alt="YouTube"></a>
    </div>
</footer>
