<section class="expertise-section" id="expertise">
    <div class="expertise-container">
        <div class="main-content">
            <h2 class="title">Notre expertise</h2>
            <p class="paragraph">Chez AfricaBytes, nous proposons des solutions technologiques innovantes adaptées à vos besoins 
                ainsi <br> des formations de haute qualité tout en intégrant la culture africaine à chaque étape.</p>
        </div>
        <div class="expertise-card">
            <div class="card-box">
                <img src="/assets/picture/icon1.png" alt="">
                <h5>Digitalisation</h5>
            </div>
            <div class="card-box card2">
                <img src="/assets/picture/icon2.png" alt="" class="i2">
                <h5>Formation</h5>
            </div>
            <div class="card-box">
                <img src="/assets/picture/icon3.png" alt="" class="i3">
                <h5>Analyse et Conception</h5>
            </div>
        </div>
    </div>
</section>
