<section class="contact-section" id="contact">
    <div class="main-content">
        <h2 class="title">Contactez-nous !</h2>
        <p class="paragraph">Faites nous savoir votre besoin. Nous serons ravis de réagir au plus vite !</p>
    </div>

    <div class="contact-container">
        <!-- Première carte -->
        <div class="contact-box">
            <div class="icon">
                <img src="assets/picture/phone.png" alt="Téléphone" />
            </div>
            <p>+221 77 574 26 48</p>
            <p></p>
            <h3>Joindre</h3>
            <button>Soumettre une requête</button>
        </div>

        <!-- Deuxième carte (centrale rouge) -->
        <div class="contact-box box-central">
            <div class="icon">
                <img src="/assets/picture/localisation.png" alt="Localisation" />
            </div>
            <p>Nguinth - Thiès</p>
            <h3>Voir</h3>
            <button>Soumettre une requête</button>
        </div>

        <!-- Troisième carte -->
        <div class="contact-box">
            <div class="icon">
                <img src="/assets/picture/position.png" alt="position" />
            </div>
            <p>{{email}}</p>
            <h3>Joindre</h3>
            <button (click)="openFormulaire()">Soumettre une requête</button>
        </div>
    </div>
</section>