<section class="equipe-section" id="equipe">
    <div class="main-content">
        <h2 class="title">Notre equipe</h2>
        <p class="paragraph">Des professionnels passionnés, engagés dans la mission d'AfricaBytes
            de rendre la technologie accessible à tous.</p>
    </div>
    <div class="equipe-container">
        <div class="card-media">
            <img src="/assets/picture/video.png" alt="">
        </div>
        <div class="card-box">
            <div class="card-text">
                <h2 class="title1">Une expertise <br> confirmee</h2>
                <p class="paragrph">Nous ne sommes pas uniquement <br> une équipe passionne mais avec
                    une forte <br> expertise dans les technologies nouvelles.</p>
            </div>
            <div class="card-content">
                <div class="title2">
                    <h5>Project Management End to End</h5>
                    <p>C’est ce que nous aimons faire...</p>
                </div>
                <img src="/assets/picture/Vector1.png" alt="">
            </div>
            <div class="card-content">
                <div class="title2">
                    <h5>Respect des délais </h5>
                    <p>Parce que votre temps est précieux...</p>
                </div>
                <img src="/assets/picture/vector2.png" alt="">
            </div>
        </div>
    </div>
</section>