<section class="partners-section" id="partenaire">
    <div class="partners">
        <img src="/assets/picture/fa-brands_hooli.png" alt="Hooli">
        <img src="/assets/picture/fa-brands_lyft.png" alt="Lyft"> 
        <img src="/assets/picture/fa-brands_pied-piper-hat.png" alt="Piper">
        <img src="/assets/picture/col-md-3.png" alt="Stripe">
        <img src="/assets/picture/col-md-3 (1).png" alt="AWS">
        <img src="/assets/picture/col-md-3 (2).png" alt="Reddit">
    </div>

    <div class="subscribe">
        <p>Inscrivez-vous !</p>
        <form action="#">
            <input type="email" placeholder="Votre email">
            <button type="submit">S'inscrire</button>
        </form>
    </div>
</section>


