<form [formGroup]="myForm" (ngSubmit)="onSubmit()" style="background-color: #f8cdcd;">
    <!-- <button mat-icon-button style="float: right;" matDialogClose>
      <mat-icon>close</mat-icon>
    </button> -->
    <mat-dialog-content>
      <header>
        <h1>Contactez-nous</h1>
      </header>
      <mat-form-field required style="width: 290px;">
        <input matInput placeholder="Prenom" formControlName="prenom">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="myForm.get('prenom')?.hasError?.('required')">Le prénom est obligatoire.</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 290px;">
        <input matInput placeholder="Nom" formControlName="nom" required>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="myForm.get('nom')?.hasError?.('required')">Le nom est obligatoire.</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 290px;">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-icon matSuffix>drafts</mat-icon>
        <mat-error *ngIf="myForm.get('email')?.hasError?.('required')">L'email est obligatoire.</mat-error>
        <mat-error *ngIf="myForm.get('email')?.hasError?.('email')">Email invalide.</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 290px;">
        <mat-label>Choisissez votre profession</mat-label>
        <mat-error *ngIf="myForm.get('profession')?.hasError?.('required')">Le message est obligatoire.</mat-error>
        <mat-select formControlName="profession" [(value)]="selectedProfession">
         <mat-option *ngFor="let profession of professions" [value]="profession">
           {{ profession }}
         </mat-option>
       </mat-select>
        
       </mat-form-field>
      <mat-form-field style="width: 290px;">
        <textarea matInput placeholder="Message" formControlName="message" required ></textarea>
        <mat-icon matSuffix>save</mat-icon>
        <mat-error *ngIf="myForm.get('message')?.hasError?.('required')">Le message est obligatoire.</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    
    <mat-checkbox color="primary">S'inscrire à la newsletter</mat-checkbox>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid">Save</button>
      <button mat-raised-button color="warn" matDialogClose>Cancel</button>
    </mat-dialog-actions>
  </form>
  