<section class="formation-section" id="formation">
    <div class="formation-container">
        <div class="main-content">
            <h2 class="title">Nos programmes de formation</h2>
            <p class="paragraph">Des formations conçues pour équiper chaque génération 
                <br>des compétences technologiques, en mettant en avant la culture <br> africaine.</p>
        </div>
        <div class="formation-card">
            <div class="card-box">
                <img src="/assets/picture/image 2.png" alt="">
            </div>
            <div class="card-box">
                <img src="/assets/picture/image 3.png" alt="">
            </div>
        </div>
    </div>
</section>
