<section class="home-section" id="home">
    <div class="home-content">
        <h1>Solutions <br> Informatiques <br> et Formations</h1>
        <h5>Nous allions innovation technologique et héritage <br> africain pour façonner les talents de demain.</h5>
        <div class="btns">
            <a href="" class="btn"><span>Obtenir un devis</span></a>
            <a href="#equipe" class="btn btn2">En savoir plus</a>
        </div>
    </div>
    <div class="home-img">
        <img src="/assets/picture/image.png" alt="">
    </div>
</section>